@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7f0f0;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #26AFBE;
  border: none;
  border-radius: 6px;
  padding: 10px 25px;
  cursor: pointer;
}